@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Oswald&display=swap');
html{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
}
body {
    background-color: darkslategray;
}

.container {
    margin-top: 8%;
    text-align: center;
    padding: 10px;
    border: 2px black dashed;
}

.punteado{
    border-style: dotted;
   border-width: 4px;
   border-color: 660033;
   background-color: #cc3366;
   font-family: verdana, arial;
   font-size: 10pt;
}

input {
    background-color: black;
    color: aquamarine;
    font-size: 20px;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
}

input:hover {
    background-color: rgb(40, 36, 39);
    color: rgb(211, 56, 180);
    font-size: 25px;
    transition: 0.3s;
}
